*{
    margin: 0;
    padding: 0;

}

body{
    background: #242d3b;
    font-family: 'Roboto', sans-serif;
    background: #000 url("../img/fundo.jpg") top center/ cover;

}

#menu{

    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center

}

.div_destino{
    margin: 30px;
    height: 50px;
    width: 300px;

}

.txt_destino{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    
}

.for_txt{
    text-align: center;
    color: #FFF;

}

.txt.destino{

    
}

.opcoes{
    display: flex;
    width: 15em;
    height: 2em;
    margin: auto;


}

#area_mapa{
 
  
}



#MAPA{
    height: 400px;
    width: 980px;
    margin: auto;
    border-radius: 8px;
 
    
}

